@model InventoryApp.Core.Models.RepackItem

@{
    ViewData["Title"] = "Stock Details";
}

<div class="container-fluid m-4">
    <h2 class="mb-4 text-primary fw-bold">@ViewData["Title"]</h2>

    <table class="table table-striped table-bordered align-middle">
        <tbody>
            <tr>
                <th scope="row" class="table-primary" style="width: 25%;">@Html.DisplayNameFor(m => m.ProductName)</th>
                <td>@Model.ProductName  </td>
            </tr>
            <tr>
                <th scope="row" class="table-primary" style="width: 25%;">@Html.DisplayNameFor(m => m.BatchNo)</th>
                <td>@Model.BatchNo  </td>
            </tr>
            <tr>
                <th scope="row" class="table-primary">@Html.DisplayNameFor(m => m.VariantCode)</th>
                <td>@Model.VariantCode</td>
            </tr>
            <tr>
                <th scope="row" class="table-primary">@Html.DisplayNameFor(m => m.VariantSku)</th>
                <td>@Model.VariantSku</td>
            </tr>
            <tr>
                <th scope="row" class="table-primary" style="width: 25%;">@Html.DisplayNameFor(m => m.QuantityValue)</th>
                <td>@Model.QuantityValue</td>
            </tr>
            <tr>
                <th scope="row" class="table-primary" style="width: 25%;">@Html.DisplayNameFor(m => m.product.UnitOfMeasure)</th>
                <td>@Model.product?.UnitOfMeasure </td>
            </tr>
            <tr>
                <th scope="row" class="table-primary">@Html.DisplayNameFor(m => m.PricePerUnit)</th>
                <td>@Model.PricePerUnit.ToString("N2")</td>
            </tr>
            <tr>
                <th scope="row" class="table-primary">@Html.DisplayNameFor(m => m.InitialQty)</th>
                <td>@Model.InitialQty Piece/s</td>
            </tr>
            <tr>
                <th scope="row" class="table-primary">@Html.DisplayNameFor(m => m.SoldQty)</th>
                <td>@Model.SoldQty Piece/s</td>
            </tr>
            @* <tr>
                <th scope="row" class="table-primary">@Html.DisplayNameFor(m => m.TotalSales)</th>
                <td>@Model.TotalSales.ToString("N2")</td>
            </tr> *@
        </tbody>
    </table>

    <div class="d-flex justify-content-end mt-3 gap-2">
        <a asp-action="Repack" asp-route-id="@Model.InventoryId" class="btn btn-secondary">
            Back to List
        </a>
    </div>
</div>
